{{- $id := .Get "id" -}}
{{- $dir := .Get "dir" | default $id -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $images := resources.Match (printf "images/foto/%s/*.jpg" $dir) -}}
<div class="gallery">
  {{- range $images -}}
    {{- $thumb := .Resize "800x q85" -}}
    {{- $full := .Resize "1200x q85" -}}
    <a href="{{ $full.RelPermalink }}" class="glightbox" data-gallery="{{ $id }}">
      <img src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" alt="{{ $alt }}" loading="lazy">
    </a>
  {{- end -}}
</div>
